 /*input(type="text"): enabled{
    background-color: yellow;
}
input:disabled{
    background-color: yellow;
}
input:read-only{
    background-color: yellow;
}
input:read-write{
    background-color: yellow;
}
input:required{
    background-color: yellow;
}
input:focus{
    background-color: yellow;
}*/
 /*valid & invalid*/